:root {
  --primary-color: #84994f;
  --secondary-color: #fcb53b;
  --fourth-color: #ffe797;
  --third-color: #b45253;
  --text-color: #ffffff;
  --background-color: #e7e4c4;
  --navbar-bg-color: #84994fde;
  --fifth-color: #117add;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

.card-title {
  font-weight: bold;
}

.card .card-img-top {
  height: 225px;
  object-fit: cover;
}

h2{
  color: var(--secondary-color) !important;
}
h5{
  color: var(--fifth-color) !important;
}
p{
  font-weight: 500 !important;
}
.main-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 58, 68, 0.6);
  z-index: 2;
}

.content-container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-container {
  padding: 1rem 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--navbar-bg-color);
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.382);
}

.logo img {
  height: 28px;
  width: 28px;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d1d5db;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-button svg {
  width: 32px;
  height: 32px;
  stroke: var(--text-color);
}

.hero-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  max-width: 896px;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

.hero-content p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--text-color);
}

.hero-button {
  margin-top: 2.5rem;
  display: inline-block;
  background-color: var(--third-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 2px solid #b24a4b;
}

.hero-button:hover {
  background-color: #aa3f41;
  border-color: #a43234;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}

@media (min-width: 640px) {
  .content-container {
    padding: 0;
  }
  .hero-content h1 {
    font-size: 3.2rem;
  }
  .hero-content p {
    font-size: 1.5rem;
  }
}

.catalog-text, .map-text, .learn-text, .template-text {
  color: var(--third-color);
  font-weight: bold;
  font-size: 3.5rem;
}

.btn-secondary{
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
  border: var(--fourth-color) !important;
  font-weight: bold !important;
}
.btn-secondary:hover{
  background-color: var(--primary-color) !important;
  text-decoration: underline !important;
}
.btn-primary{
  background-color: var(--third-color) !important;
  color: var(--text-color) !important;
  border: var(--fourth-color) !important;
  font-weight: bold !important;
}
.btn-primary:hover{
  background-color: var(--primary-color) !important;
  text-decoration: underline !important;
}

.list-template{
  background-color: var(--background-color) !important;
}
