<div class="navbar-container">
  <nav>
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Logo" />
    </a>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/catalog">Explore</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/learn">Learn More</a></li>
    </ul>

    <button class="mobile-menu-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>
  </nav>
</div>
