<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especie</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="navbar-container">
          <nav>
            <a href="index.html" class="logo">
              <img src="images/logo.png" alt="Logo" />
            </a>

            <ul class="nav-links">
              <li><a href="index.html">Home</a></li>
              <li><a href="catalog.html">Explore</a></li>
              <li><a href="map.html">Map</a></li>
              <li><a href="learn.html">Learn More</a></li>
            </ul>

            <button class="mobile-menu-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                />
              </svg>
            </button>
          </nav>
        </div>
    <div class="container my-5">
  <div class="row">
    <div class="col-md-6">
  <img src="images/jaguar.jpg" class="img-fluid rounded" alt="Jaguar">
    </div>
    <div class="col-md-6">
      <h2 class="template-text">Jaguar (Panthera onca)</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-template"><strong>Region:</strong> Jungles and forests of Mexico.</li>
        <li class="list-group-item list-template"><strong>Habitat:</strong> Terrestrial ecosystems.</li>
        <li class="list-group-item list-template"><strong>Threats:</strong> Habitat loss and poaching.</li>
        <li class="list-group-item list-template"><strong>Conservation Status:</strong> Near Threatened.</li>
      </ul>
      <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>
      <a href="catalog.html" class="btn btn-secondary mt-3">Go Back</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>